.form-add-paragraph {
   display: grid;
   grid-template-columns: 1fr;

   &__field {
      display: block;
      width: 100%;
      margin-top: 15px;
      &:first-child {
         margin-top: 0px;
      }
   }

   &__error {
      width: 100%;
      color: #e60023;
      font-style: italic;
   }

   &__textarea {
      display: block;
      width: 100%;
      resize: none;
      height: 325px;
      border-radius: 10px;
      padding: 15px 20px;
      margin-top: 15px;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
   }

   &__button {
      margin-top: 15px;
      justify-self: end;
      @media(max-width:450px) {
         width: 100%;
      }
   }

   &__file {
      padding-top: 15px;
   }
}